<%- include('../partials/header') -%> 
<style>
    .statuu{
        margin: 0;
        background: #4068a3;
        color: white;
        padding: 2px;
        border-radius: 20px;
        text-align: center;
    }
    .statuuno{
        margin: 0;
        background: #f44336;
        color: white;
        padding: 2px;
        border-radius: 20px;
        text-align: center;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top: 4rem;">
                    <div class="header">
                        <h3 class="text-white mb-0" style="color: #000 !important;">Liste des commandes</h3>
                        <h5 style="margin-top: 1rem;"><%= users.length %> commande(s)</h5>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table  id="tableExport" class="display table table-hover table-checkable order-column m-t-20 width-per-100" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Id Cmd</th>
                                        <th>Utilisateur</th>
                                        <th>Type</th>
                                        <th>Statut</th>
                                        <th>Pack</th>
                                        <th>Date de fin</th>
                                        <th>Enregistrée le</th>
                                        <!-- <th>Actions</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <% users.forEach((user)=>{ %>
                                    <tr>
                                        <td><%= user.cmd %></td>
                                        <td><%= user.user_id.name %></td>
                                        <td><%= user.user_id.type %></td>
                                        <td>
                                            <% if(user.statut == "Payé"){ %>
                                                <p class="statuu">
                                                    <%= user.statut %> &nbsp;<span class="fa fa-check-circle" style="color: #78ae61;"></span>
                                                </p>
                                            <% }else{ %>
                                                <p class="statuuno">
                                                    <%= user.statut %> &nbsp;<span class="fa fa-times-circle" style="color: #fff;"></span>
                                                </p>
                                            <% } %>
                                        </td>
                                        <td>Nom: <span style="font-weight: bold;"><%= user.pack.nom %></span> | Montant: <span style="font-weight: bold;"><%= user.pack.montant %>€</span></td>
                                        <td><%= user.duree.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ") %></td>
                                        <td><%= user.createdAt.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ") %></td>
                                    </tr>
                                    <% }) %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<%- include('../partials/footer') -%> 