<%- include('../partials/header') -%> 
<style>
    .avatarimg{
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        object-fit: cover;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top: 4rem;">
                    <div class="header">
                        <h3 class="text-white mb-0" style="color: #000 !important;">Liste des utilisateurs</h3>
                        <h5 style="margin-top: 1rem;"><%= users.length %> Utilisateur(s)</h5>
                        <div class="header-dropdown m-r--5">
                            <button style="margin-top:0px;" class="btn-hover btn-border-radius color-5" onclick="window.location='/dashboard/users/add'">Ajouter</button>
                        </div>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table  id="tableExport" class="display table table-hover table-checkable order-column m-t-20 width-per-100" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Avatar</th>
                                        <th>Nom</th>
                                        <th>Email</th>
                                        <th>Téléphone</th>
                                        <th>Rôle</th>
                                        <th>Active</th>
                                        <th>Inscris le</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% users.forEach((user)=>{ %>
                                    <tr>
                                        <td>
                                            <img width="25" src="<%= user.pic %>" alt="<%= user.name %>" class="avatarimg">
                                        </td>
                                        <td>
                                            <%= user.name %> &nbsp;&nbsp;
                                            <% if(user.approved == "on") { %>
                                                <span class="fa fa-check-circle" title="Compte Approuvé" style="color: #4068a3;"></span>
                                            <% } %>
                                        </td>
                                        <td><%= user.email %></td>
                                        <td><%= user.phone != undefined ? user.phone.includes('|') ? user.phone.split('|')[0] : "" : user.phone %></td>
                                        <td><%= user.type %></td>
                                        <% if(user.active == "1") { %>
                                            <% if(user.type != "admin") { %>
                                                <td>
                                                    <div class="form-check form-check-radio">
                                                    <label>
                                                        <input name="active" type="checkbox" class="filled-in active user-activate" checked value="<%= user.id %>">
                                                        <span class="yesorno">Oui</span>
                                                    </label>
                                                    </div>
                                                </td>
                                            <% }else{ %>
                                                <td></td>
                                            <% } %>
                                        <% }else{ %>
                                            <% if(user.type != "admin") { %>
                                                <td>
                                                    <div class="form-check form-check-radio">
                                                    <label>
                                                        <input name="active" type="checkbox" class="filled-in active user-activate" value="<%= user.id %>">
                                                        <span class="yesorno">Non</span>
                                                    </label>
                                                    </div>
                                                </td>
                                            <% }else{ %>
                                                <td></td>
                                            <% } %>
                                        <% } %>
                                        <td><%= user.createdAt.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ") %></td>
                                        <td>
                                            <!-- <a href="/user/details/<%= user.id %>" class="btn-hover btn-border-radius color-4 p-1"><i class="fa fa-eye"></i> View</a>
                                            <a href="/edit/<%= user.id %>" class="btn-hover btn-border-radius color-6 p-3"><i class="fa fa-edit"></i> edit</a> -->
                                            <!-- <a href="/dashboard/users/view/<%= user.id %>" class="btn btn-tbl-edit btn-primary" title="Voir">
                                                <i class="material-icons">remove_red_eye</i>
                                            </a> -->
                                            <!-- <a href="/dashboard/user-delete/<%= user.id %>" class="btn btn-tbl-edit btn-primary" title="Supprimer">
                                                <i class="material-icons">delete_sweep</i>
                                            </a> -->
                                            <% if(user.type != "admin") { %>
                                                <a href="/dashboard/users/edit/<%= user.id %>/save" class="btn btn-tbl-edit" title="Modifier">
                                                    <i class="material-icons">create</i>
                                                </a>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <% }) %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<%- include('../partials/footer') -%> 