<%- include('../partials/header') -%> 
<section class="content">
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top: 4rem;">
                    <div class="header">
                        <h3 class="text-white mb-0" style="color: #000 !important;">Liste des documents</h3>
                        <h5 style="margin-top: 1rem;"><%= users.length %> Document(s)</h5>
                        <div class="header-dropdown m-r--5">
                            <button style="margin-top:0px;" class="btn-hover btn-border-radius color-5" onclick="window.location='/dashboard/docs/add'">Ajouter</button>
                        </div>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table  id="tableExport" class="display table table-hover table-checkable order-column m-t-20 width-per-100" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Nom (en anglais)</th>
                                        <th>Type</th>
                                        <th>Document</th>
                                        <th>Active</th>
                                        <th>Crée le</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% users.forEach((user)=>{ %>
                                    <tr>
                                        <td><%= user.nom %></td>
                                        <td><%= user.nom_en %></td>
                                        <td><%= user.type %></td>
                                        <td>
                                            <a href="<%= user.url %>" target="_blank" title="Voir la pièce"> Voir le fichier<i class="material-icons" style="font-size:15px;position: relative;top: 3px;">remove_red_eye</i></a>
                                        </td>
                                        <% if(user.active == "1") { %>
                                          <td>
                                            <div class="form-check form-check-radio">
                                              <label>
                                                  <input name="active" type="checkbox" class="filled-in active doc-activate" checked value="<%= user.id %>">
                                                  <span class="yesorno">Oui</span>
                                              </label>
                                            </div>
                                          </td>
                                        <% }else{ %>
                                          <td>
                                            <div class="form-check form-check-radio">
                                              <label>
                                                  <input name="active" type="checkbox" class="filled-in active doc-activate" value="<%= user.id %>">
                                                  <span class="yesorno">Non</span>
                                              </label>
                                            </div>
                                          </td>
                                        <% } %>
                                        <td><%= user.createdAt.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ") %></td>
                                        <td>
                                            <!-- <a href="/user/details/<%= user.id %>" class="btn-hover btn-border-radius color-4 p-1"><i class="fa fa-eye"></i> View</a>
                                            <a href="/edit/<%= user.id %>" class="btn-hover btn-border-radius color-6 p-3"><i class="fa fa-edit"></i> edit</a> -->
                                            <!-- <a href="#" class="btn btn-tbl-edit btn-primary delete_langue" attr-id="<%= user.id %>" title="Supprimer">
                                                <i class="material-icons">delete_sweep</i>
                                            </a> -->
                                            <a href="/dashboard/docs/edit/<%= user.id %>" class="btn btn-tbl-edit" title="Modifier">
                                                <i class="material-icons">create</i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<%- include('../partials/footer') -%> 