<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic" rel="stylesheet" type="text/css" />
	<title>TransNet | Contact</title>
	<style type="text/css">
		/*Hotmail and Yahoo specific code*/

		.ReadMsgBody {
			width: 100%;
		}

		.ExternalClass {
			width: 100%;
		}

		.yshortcuts {
			color: #ffffff;
		}

		.yshortcuts a span {
			color: #ffffff;
			border-bottom: none !important;
			background: none !important;
		}

		/*Hotmail and Yahoo specific code*/
		body {
			-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
			-webkit-font-smoothing: antialiased;
			margin: 0 !important;
			padding: 0 !important;
			width: 100% !important;
		}

		p {
			margin: 0px !important;
			padding: 0px !important;
		}

		th {
			font-weight: normal !important;
		}

		.appleLinks a {
			color: #e3e3f1 !important;
			text-decoration: none !important;
		}

		.button-container {
			margin: 0 auto !important;
			width: 60% !important;
		}

		/* mouse over link title */
		.titletxt {
			color: #616161;
			text-decoration: none;
		}

		.titletxt:hover {
			color: #545454;
			text-decoration: none;
		}

		/* mouse over link cta */
		/*-----Mobile specific code------*/
		@media only screen and (max-width:799px) {
			body {
				width: auto !important;
			}

			table[class="main"] {
				max-width: 480px !important;
				width: 100% !important;
			}

			img[class="img1"] {
				max-width: 150px !important;
				width: 100% !important;
				height: auto;
				display: block;
				margin: 0 auto;
			}

			img[class="img2"] {
				max-width: 100% !important;
				width: 100% !important;
				height: auto;
				display: block;
				margin: 0 auto;
			}

			img[class="banner"] {
				max-width: 100% !important;
				width: 100% !important;
				height: auto;
				display: block;
				margin: 0 auto;
			}

			img[class="spacerimg"] {
				max-width: 0px !important;
				width: 0px !important;
				display: none !important;
			}

			th[class="stack1"] {
				display: block !important;
				width: 100% !important;
				height: auto !important;
				text-align: center !important;
			}

			th[class="stack2"] {
				display: block !important;
				width: 100% !important;
				height: auto !important;
				margin-top: 15px !important;
			}

			th[class="sphide"] {
				display: none !important;
				width: 0px;
			}

			td[class="textcntr"] {
				text-align: center !important;
				padding-left: 10px;
				padding-right: 10px;
			}

			td[class="button"] {
				max-width: 180px !important;
				width: 180px !important;
				display: block;
				margin: 0 auto;
				background-color: #4068a3;
				border-radius: 2px;
				-moz-border-radius: 2px;
				-webkit-border-radius: 2px;
			}

			td[class="hspace"] {
				height: 25px !important;
			}
		}

		@media only screen and (max-width: 479px) {
			body {
				width: auto !important;
			}

			table[class="main"] {
				max-width: 320px !important;
				width: 100% !important;
			}

			img[class="img1"] {
				max-width: 150px !important;
				height: auto;
				display: block;
				margin: 0 auto;
			}

			th[class="sphide22"] {
				display: none !important;
				width: 0px;
			}

			td[class="titlefsize"] {
				font-size: 20px !important;
				text-align: center !important;
			}

			td[class="wspacw"] {
				width: 6px !important;
			}

			th[class="midspacw"] {
				width: 8px !important;
			}

			td[class="textcntr"] {
				text-align: center !important;
			}

			table[class="logo_left"] {
				max-width: 100%;
				width: 100% !important;
				height: auto;
				margin: 0 auto;
				text-align: center !important;
			}

			img[class="logo_center"] {
				display: inherit !important;
			}

			td[class="cta1"] {
				max-width: 100% !important;
				width: 100% !important;
				background-color: #ffffff;
				border-radius: 2px;
				-moz-border-radius: 2px;
				-webkit-border-radius: 2px;
			}

			td[class="cta"] {
				max-width: 100% !important;
				width: 100% !important;
				background-color: #4068a3;
				border-radius: 2px;
				-moz-border-radius: 2px;
				-webkit-border-radius: 2px;
			}

			img[class="spacerimg"] {
				max-width: 0px !important;
				width: 0px !important;
				display: none !important;
			}
		}

		/*-----Mobile specific code end------*/
		.confirmbtn:hover {
			background-color: #4068a3;
		}

		.confirmbtn:hover a span {
			color: #fff !important;
		}
	</style>
</head>

<body bgcolor="#F7F7F7" style="margin:0px;">
	<table bgcolor="#F7F7F7" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td align="center">
					<table align="center" border="0" cellpadding="0" cellspacing="0" class="main" width="600">
						<tbody>
							<tr>
								<!-- <td><span style="color:#F8F8F8;"><font face="Lato, Arial, sans-serif, Trebuchet MS"><span style="font-size: 12px; line-height: 15px;">Welcome to the Educents Community. Discover New Ways to Keep Kids Excited About Learning.</span></font></span></td> -->
							</tr>
							<tr>
								<td valign="top">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td bgcolor="#FFFFFF">
													<table border="0" cellpadding="0" cellspacing="0" width="100%">
														<tbody>
															<tr>
																<td width="28">&nbsp;</td>
																<td>
																	<table border="0" cellpadding="0" cellspacing="0"
																		width="100%">
																		<tbody>
																			<tr>
																				<td height="28">&nbsp;</td>
																			</tr>
																			<tr>
																				<td align="left">
																					<table border="0" cellpadding="0"
																						cellspacing="0"
																						style="width: 100%;">
																						<tbody>
																							<tr>
																								<td align="center"><span
																										class="sg-image"
																										data-imagelibrary="%7B%22width%22%3A%22110%22%2C%22height%22%3A%2260%22%2C%22alt_text%22%3A%22logo%22%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//marketing-image-production.s3.amazonaws.com/uploads/a0d36c7f6657b2aae13f9d912aa9622f424c3ca73564b32e34f56071af915cf8eec4bd4f5a050ff6358083f6dbd4b813429bcf728cd40b712e14cbb50e518741.jpg%22%2C%22link%22%3A%22http%3A//www.educents.com/%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"><a
																											href="http://www.universcity.smartcodegroup.com"
																											target="_blank"><img
																												alt="logo"
																												border="0"
																												class="logo_center"
																												height="60"
																												src="https://admin.universcitiz.com/images/UniversCity-logo-2-png.png"
																												style="width: 200px; height: auto;"
																												width="110" /></a></span>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																			<tr>
																			</tr>
																			<tr>
																				<td height="15">&nbsp;</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
																<td width="28">&nbsp;</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td valign="top"><span class="sg-image"
														data-imagelibrary="%7B%22width%22%3A%22600%22%2C%22height%22%3A%22245%22%2C%22alt_text%22%3A%22banner%22%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//marketing-image-production.s3.amazonaws.com/uploads/632afc60bb247b80f4649926c059e8202b77f03e3f684a0aed15436cde4fa00da8c4980ebec85a8b208a7ea5c39ea7c399f975386d85a79b7a2020d111dcf9c3.png%22%2C%22link%22%3A%22%23%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"><a
															href="http://www.universcity.smartcodegroup.com"
															target="_blank"><img alt="banner" border="0" class="banner"
																height="245"
																src="https://blogue.uqtr.ca/wp-content/uploads/2019/10/etudiants-universitaires-2019-p2.jpg"
																style="width: 600px; height: 245px;object-fit: cover;"
																width="600" /></a></span></td>
											</tr>
											<tr>
												<td bgcolor="#FFFFFF">
													<table border="0" cellpadding="0" cellspacing="0" width="100%"
														style="margin-top: 2rem;">
														<tbody>
															<tr>
																<td class="wspacw" width="35">&nbsp;</td>
																<td>
																	<table border="0" cellpadding="0" cellspacing="0"
																		width="100%">
																		<tbody>
																			<tr>
																			</tr>
																			<tr>
																				<td
																					style="font-family:Lato, Arial, sans-serif, Trebuchet MS; font-size:26px; line-height:32px; color:#78ae61; text-align:center; font-weight:700;">
																					<%- header %>
																				</td>
																			</tr>
																			<tr>
																				<td height="12">&nbsp;</td>
																			</tr>
																			<tr>
																				<td
																					style="font-family:Lato, Arial, sans-serif, Trebuchet MS; font-size:20px; line-height:26px; color:#616161; text-align: center;">
																					<%- body %>
																				</td>
																			</tr>
																			<tr>
																				<td height="5">&nbsp;</td>
																			</tr>
																			<tr>
																				<td height="15">&nbsp;</td>
																			</tr>
																			<% if(btn !="no" ){ %>
																				<tr>
																					<td align="center">
																						<table cellpadding="0"
																							cellspacing="0" width="180">
																							<tbody>
																								<tr>
																									<td align="center"
																										bgcolor="#ffffff"
																										class="cta1 confirmbtn"
																										height="40"
																										style="border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; border-top:1px solid #4068a3; border-left:1px solid #4068a3; border-bottom:1px solid #4068a3; border-right:1px solid #4068a3;"
																										width="180"><a
																											href="<%= btn %>"
																											style="font-family:Lato, Arial, sans-serif, Trebuchet MS; font-size:14px; line-height:38px; color:#4068a3; text-align: center; text-decoration: none !important; padding-bottom:1px; width:100%; font-weight:bold; display:inline-block"
																											target="_blank"><span
																												style="color: #4068a3">Cliquez
																												ici</span></a>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																				<% } %>
																					<tr>
																						<td height="5">&nbsp;</td>
																					</tr>
																		</tbody>
																	</table>
																</td>
																<td class="wspacw" width="35">&nbsp;</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td valign="top">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td width="28">&nbsp;</td>
												<td>
													<table border="0" cellpadding="0" cellspacing="0" width="100%">
														<tbody>
															<tr>
															</tr>
															<tr>
															</tr>
															<tr>
																<td class="textcntr"
																	style="font-family: Lato, Arial, sans-serif, &quot;Trebuchet MS&quot;; font-size: 15px; line-height: 25px; color: rgb(97, 97, 97); font-weight: 700; text-align: center;">
																	Suivez nous sur nos réseaux &nbsp;</td>
																<td height="36">&nbsp;</td>
															</tr>
															<tr>
																<td align="center">
																	<table align="center" border="0" cellpadding="0"
																		cellspacing="0">
																		<tbody>
																			<tr>
																				<td><span class="sg-image"
																						data-imagelibrary="%7B%22width%22%3A%2220%22%2C%22height%22%3A%2220%22%2C%22alt_text%22%3A%22facebook%22%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//marketing-image-production.s3.amazonaws.com/uploads/710a18cd99ba36db34412b55ff649c56add28b997b1c1b9e03ebf4f420874acdaade97c0c513dec89e5756b08854791b3e853867ed2ea918fdf19b3e9487b783.png%22%2C%22link%22%3A%22https%3A//www.facebook.com/educents%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"><a
																							href="" target="_blank"><img
																								alt="facebook"
																								border="0" height="20"
																								src="https://marketing-image-production.s3.amazonaws.com/uploads/710a18cd99ba36db34412b55ff649c56add28b997b1c1b9e03ebf4f420874acdaade97c0c513dec89e5756b08854791b3e853867ed2ea918fdf19b3e9487b783.png"
																								style="width: 20px; height: 20px;"
																								width="20" /></a></span>
																				</td>
																				<td width="25">&nbsp;</td>
																				<td><span class="sg-image"
																						data-imagelibrary="%7B%22width%22%3A%2220%22%2C%22height%22%3A%2220%22%2C%22alt_text%22%3A%22twitter%22%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//marketing-image-production.s3.amazonaws.com/uploads/b74a9cd00a7456db4b0d8eaa72cd27c3280272e378aaf57b24534a8af463984d6d27b1ea9a821397b0e1a7fada0335b0c7ff578948d5d9868630a522cf193ac8.png%22%2C%22link%22%3A%22https%3A//twitter.com/educents%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"><a
																							href="" target="_blank"><img
																								alt="twitter" border="0"
																								height="20"
																								src="https://marketing-image-production.s3.amazonaws.com/uploads/b74a9cd00a7456db4b0d8eaa72cd27c3280272e378aaf57b24534a8af463984d6d27b1ea9a821397b0e1a7fada0335b0c7ff578948d5d9868630a522cf193ac8.png"
																								style="width: 20px; height: 20px;"
																								width="20" /></a></span>
																				</td>
																				<td width="25">&nbsp;</td>
																				<td><span class="sg-image"
																						data-imagelibrary="%7B%22width%22%3A%2220%22%2C%22height%22%3A%2220%22%2C%22alt_text%22%3A%22pinterest%22%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//marketing-image-production.s3.amazonaws.com/uploads/9ded3ac16e9f24024f8fa11ebea7d3c56ddddeb08c727025ca5f91427ece25ad1256dcf2bf6ce80dd006d0706f20353fa6141cbe61c868181dd9850aa223791a.png%22%2C%22link%22%3A%22https%3A//www.pinterest.com/educents/%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"><a
																							href="" target="_blank"><img
																								alt="pinterest"
																								border="0" height="20"
																								src="https://marketing-image-production.s3.amazonaws.com/uploads/9ded3ac16e9f24024f8fa11ebea7d3c56ddddeb08c727025ca5f91427ece25ad1256dcf2bf6ce80dd006d0706f20353fa6141cbe61c868181dd9850aa223791a.png"
																								style="width: 20px; height: 20px;"
																								width="20" /></a></span>
																				</td>
																				<td width="25">&nbsp;</td>
																				<td><span class="sg-image"
																						data-imagelibrary="%7B%22width%22%3A%2221%22%2C%22height%22%3A%2221%22%2C%22alt_text%22%3A%22instagram%22%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//marketing-image-production.s3.amazonaws.com/uploads/fdd5cd004b13fe1f2c8869a9530f63eaf64c803710b6d3e6000ce70a6a4726d51b2f65a975a59615983fd092f76b76f37950c28df3e69e5de2cd4615064f8955.png%22%2C%22link%22%3A%22http%3A//instagram.com/educents%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"><a
																							href="" target="_blank"><img
																								alt="instagram"
																								border="0" height="21"
																								src="https://marketing-image-production.s3.amazonaws.com/uploads/fdd5cd004b13fe1f2c8869a9530f63eaf64c803710b6d3e6000ce70a6a4726d51b2f65a975a59615983fd092f76b76f37950c28df3e69e5de2cd4615064f8955.png"
																								style="width: 21px; height: 21px;"
																								width="21" /></a></span>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
															<tr>
																<td height="36">&nbsp;</td>
															</tr>
															<tr>
																<td
																	style="font-family:Helvetica, Arial, sans-serif, Trebuchet MS; font-size:12px; line-height:18px; color:#616161; text-align: center;">
																	<em>Vous avez recu cet email parce que vous vous
																		êtes inscrit sur <a
																			href="http://www.universcity.com/"
																			style="color:#616161; text-decoration:underline;"
																			target="_blank">UniversCity.com</a>.<br />
																		<br />
																		UniversCity, 369 Sutter Street, 94108, San
																		Francisco, CA</em></td>
															</tr>
															<tr>
																<td height="15">&nbsp;</td>
															</tr>
														</tbody>
													</table>
												</td>
												<td width="28">&nbsp;</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>